<p id="notice"><%#= notice %></p>
<%# <h1>Lisf of Movers</h1> %>


<p>Current User email: <%= current_user.email %></p>
<p>Current User ID: <%= current_user.id %></p><% if policy(Mover).index? %>
  <%#= link_to "List all Movers", movers_path %>
<% end %>

<p id="notice"><%= notice %></p>
<h1>Find Movers around!</h1>

<div class="container">
  <div class="cards">
    <% @movers.each do |mover| %>
      <div>
        <div class="card-trip">
          <img src="https://www.tciteam.com/wp-content/uploads/2017/04/Secure-Your-Load.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= mover.type_of_car %></h2><hr>
              <p style="margin-right: 12px"><strong><em>Driver</em></strong>: <%= mover.name %></p><br>
              <h2 class="card-trip-pricing">¥<%= mover.price %> / 10 km</h2>
            </div>
              <a><%= link_to 'Book', mover_path(mover), class:'main-button'%></a>
            <img src="https://www.biography.com/.image/t_share/MTQ3NjM5MTEzMTc5MjEwODI2/eminem_photo_by_dave_j_hogan_getty_images_entertainment_getty_187596325.jpg" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      </div>
    
    
      <% if policy(mover).edit? %>
        <td><%= link_to 'Edit', edit_mover_path(mover) %></td>
      <% end %>
      <% if policy(mover).destroy? %>
        <td><%= link_to 'Destroy', mover, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </div>
</div>  

<% if policy(Mover).new? %>
  <%= link_to 'New Mover', new_mover_path %>
<% end %>